// commit

.navbar-likemachine {
  justify-content: space-between;
  background: white;
}

.navbar-likemachine .navbar-collapse {
  flex-grow: 0;
}

.navbar-likemachine .navbar-brand img {
  width: 40px;
}
